@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/css/template.css">
    <title>User/Admin DashBoard</title>
</head>
<body>

    <div class="container" id="main">
        
        <!-- Render the Login view automatically here -->
        @Html.Partial("~/Views/Login/Login.cshtml")

    </div>
    <script src="~/js/main.js"></script>
    <script src="~/js/userspecific.js"></script>
    <script src="~/js/adminspecific.js"></script>
</body>
</html>
